@tailwind base;
@tailwind components;
@tailwind utilities;

#ft-sns-links a{
}
#ft-sns-links svg{
    width:40px;
    height:40px
}

.ft-sitemap-box{
    margin:1rem 0;
}
@media (min-width:768px){
    .ft-sitemap-box{
        margin:0 0.5rem;
    }
}

.ft-sitemap-title{
    margin:0.5em 0;
    color: var(--theme-1);
    font-size: 1rem;
    font-weight:bold;
}
.ft-sitemap-ls{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.ft-sitemap-ls a{
    display: inline-block;
    margin:0.3em 0;
    padding-bottom:0.1em;
    font-size:0.9rem;
    color: #333;
    border-bottom:solid 1px transparent;
}
@media(max-width:768px){
    .ft-sitemap-ls a:before{
        content: "ãƒ¼";
        margin-left:0.5em;
        padding-right:1em;
        color:#aaa;
        font-weight:bold;
    }
}