@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-1: #444afa;
  --theme-2: #f546ef;
  --theme-3: #5247e1;
  --theme-light: #cfd0f7;
  --theme-pale: #f0f0ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hover-link a{
  position: relative;
}

.hover-link a::after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  bottom: -0.2em;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s;
}
.hover-link a:hover::after{
  transform: scale(1, 1);
  transform-origin: left top;
}