@tailwind base;
@tailwind components;
@tailwind utilities;

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    height:100%;
    transition: all ease 0.3s;
    vertical-align: center;
}
.header-content:hover{
    /* background-color: #edeff1 !important; */
    background-color: #333;
    color: #eee;
}
.header-content:hover .header-content-en{
    color: #eee;
}
.header-content-en{
    color:var(--theme-1);
    font-weight:bold;
    font-size:0.8rem;
}
.header-content-label{
    font-weight: bold;
    font-size:0.9rem;
}
.header-menu-en{
    color: var(--theme-1);
    font-size: 1rem;
    font-weight:bold;
}
#hd-menu-ls > div{
    padding:0.5rem 1rem;
}
#hd-menu-ls a{
    color: #333;
    font-size:1.5rem;
    font-weight:bold;
}
#hd-menu-ls > div:hover{
    background-color: var(--theme-pale);
}
header.sm-disp{
    box-shadow:0 0 0 2000px #00000090;
}
header.sm-disp #hd-inner-top{
    margin: auto;
}
#hd-menu-button div{
    transition: all ease 0.3s;
}
.sm-disp #hd-menu-button-1{
    transform: rotate(45deg);
    transform-origin: left;
}
.sm-disp #hd-menu-button-2{
    width: 0px;
}
.sm-disp #hd-menu-button-3{
    transform: rotate(-45deg);
    transform-origin: left;
}