@tailwind base;
@tailwind components;
@tailwind utilities;

.main-product-wrapper{
    margin:0 1rem;
    border-radius:1rem;
    padding:1rem;
    background-color: white;
    box-shadow:0 0 10px #ccc;
}
.main-product-wrapper h2{
    font-size:1.2rem;
    padding:0.5em 0;
    color:var(--theme-1);
    font-weight:bold;
}
